<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <a class="brand" href="/">Exam</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
            
          </div><!--/.nav-collapse -->
          
          
        </div>
        
      </div>
      
    
    
    <div class="hero-unit" style = "height:100px;width:450px;position:absolute;top:100px;left:50px">
	<h2>EXAM</h2>
	<p> deneme amaçlı hazırlanmış basit bir sınav sistemidir </p>
	</div>
	</div>
	
	<div style= "position:absolute;top:200px;left:9in">
		<%= link_to "#", :class => "btn btn-large btn-danger" do %>
		 Sınava Başla
		<% end %>
	</div>
    
	
	
    
				
    
    
   
