div class="hero-unit" style="height:100px;width:850px;position:absolute;top:150px;left:200px;"

	h1 SINAV SÜRENİZ SONA ERDİ
	
	= button_to 'Sonucumu Göster', { action: "rapor", format: "pdf" }, class: 'btn btn-large btn-success', style: "position:absolute;top:150px;left:350px;"
