div class="hero-unit" style="height:100px;width:450px;position:absolute;top:150px;left:350px;"

	h1 SINAVINIZ BİTTİ
	
	= button_to 'Sonucumu Göster', { action: "rapor", format: "pdf" }, class: 'btn btn-large btn-success', style: "position:absolute;top:150px;left:190px;" 

	
	

