<div class="hero-unit" style="height:370px;width:450px;position:absolute;top:150px;left:350px;">
	<h3 style = "position:absolute;top:20px;left:50px"> ÖĞRENCİ <h3>
	<h3 style = "position:absolute;top:20px;left:340px"> HOCA <h3>
	
	<div style = "position:absolute;top:70px;left:350px">
		<% @say = 1 %>
		<% @quests.each do |j| %>
			<% @say = @say +1 %>
			<h5 style= "color:green"><%= @say %>   -) <%= j.answer %> </h5><br />
		<% end %>
	</div>
	
	
	<% @examinations.each do |i| %>
		<h5 style= "color:red"><%= i.question_id %>   -)   <%=  i.response.upcase  %>  <h5><br />
	<% end %>
	
</div>
