<div class="hero-unit" style="height:100px;width:450px;position:absolute;top:150px;left:350px;">

	<h1 > SINAVA BAŞLA <h1>
		<%= link_to '/q/1',:class => 'btn btn-large btn-success',:style => "position:absolute;top:150px;left:190px;" do %>
			Start  Examination
		<% end %>
</div>
