doctype html
html
head
  title  Exam 
  = stylesheet_link_tag    "application", media: "all" 
  = javascript_include_tag "application" 
  = javascript_include_tag "/javascripts/ckeditor/ckeditor.js" 
  = csrf_meta_tags 

body
	div class="navbar navbar-fixed-top"
      div class="navbar-inner"
        div class="container"
          
          a class="brand" href="/"  Exam
          div class="nav-collapse"
            ul class="nav"
              li class="active":  a[href="/"]  Home
              
            ul class="nav pull-right"
				- if current_user 
				  li: a[href="/"] #{current_user.username}
				  li: a[href=logout_url]  Çıkış 
				
== yield
            
           



